<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Basic Alerts start -->
    <section id="card-demo-example">
      <div class="row match-height">


        <div *ngFor="let m of monuments" class="col-md-6 col-lg-4">
          <div class="card">

            <img class="card-img-top"  width="250px" height="250px" [src]="sanitizeImageUrl('assets/upload/'+getPhotos(m.id)?.split('/')[6])" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{m.nom}}</h4>
              <p class="card-text">


              <div class="d-flex flex-wrap my-50">
                <div class="user-info-title">
                  <i data-feather="clock" class="mr-1"></i>
                  <span class="card-text user-info-title font-weight-bold mb-0">Heure d'ouverture : {{m.heure_open}}</span>
                </div>


              </div>
              <div class="d-flex flex-wrap my-50">
                <div class="user-info-title">
                  <i data-feather="clock" class="mr-1"></i>
                  <span class="card-text user-info-title font-weight-bold mb-0">Heure Fermeture  : {{m.heure_close}}</span>
                </div>
              </div>

              <a (click)="modalDetail(modalD,m)" class="btn btn-outline-primary waves-effect m-6">Details</a>

            </div>
          </div>
        </div>


      </div>
    </section>
    <!-- Basic Alerts end -->
  </div>
</div>


<!-- Modal -->
<ng-template #modalD let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel10">Details</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="row" *ngIf="monument">
      <div class="col-md-8">
        <!-- Google Maps Marker with Tooltip Component -->
        <google-map [zoom]="markerZoom" height="400px" width="100%" [center]="markerCenter">
          <!-- [title]="marker.title" -->
          <map-marker
                  #markerElem
                  *ngFor="let marker of markers"
                  [label]="marker.label"
                  [position]="marker.position"
                  [options]="marker.options"
                  (mapClick)="openInfo(markerElem)"
          >
          </map-marker>
          <map-info-window *ngFor="let marker of markers" [position]="marker.position"
          >Hello Google Maps</map-info-window
          >
        </google-map>
        <!--/ Google Maps Marker with Tooltip Component -->


      </div>
        <div class="col-md-4">

        <swiper style="height:100px" class="swiper-coverflow swiper-container" [config]="swiperCoverflow">

        <img *ngFor="let a of getPhotoss()"  class="img-fluid" [src]="sanitizeImageUrl('assets/upload/'+a.url.split('/')[6])" alt="banner">

      </swiper>
        </div>




    </div>
    <div class="row mt-2">

      <div class="col-md-4">
        <div class="row">
          <div class="d-flex flex-wrap my-50 pl-2">
            <div class="user-info-title">
              <i data-feather="circle" class="mr-1"></i>
              <span class="card-text user-info-title font-weight-bold mb-0">Type :</span>
            </div>
            <p class="card-text mb-0 ml-1">   {{monument.type.libelle   }}  </p>
          </div>
          <div class="d-flex flex-wrap my-50 pl-2">
            <div class="user-info-title">
              <i data-feather="droplet" class="mr-1"></i>
              <span class="card-text user-info-title font-weight-bold mb-0">Ville :</span>
            </div>
            <p class="card-text mb-0 ml-1">{{monument.zone.ville.nom }}</p>
          </div>
          <div class="d-flex flex-wrap my-50 pl-2">
            <div class="user-info-title">
              <i data-feather="map" class="mr-1"></i>
              <span class="card-text user-info-title font-weight-bold mb-0">Zone :</span>
            </div>
            <p class="card-text mb-0 ml-1">{{monument.zone.nom }}</p>
          </div>
          <div class="d-flex flex-wrap my-50 pl-2">
            <div class="user-info-title">
              <i data-feather="circle" class="mr-1"></i>
              <span class="card-text user-info-title font-weight-bold mb-0">Rank :</span>
            </div>
            <p class="card-text mb-0 ml-1">   {{monument.rank   }}  </p>
          </div>

        </div>

        <div class="row">
          <div class="col-12">
            <div class="mb-1">
              <label class="form-label" for="nom">Entrez votre nom</label>
              <input class="form-control" id="nom"  placeholder="Amine radi"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="mb-1">
              <label class="form-label" for="commentaire">Ajouter commentaire</label>
              <textarea class="form-control" id="commentaire" rows="3" placeholder="Textarea"></textarea>
            </div>
          </div>
        </div>



        <div class="row ">
          <div class="col-4">
            <div class="btn-group" role="group">
              <button  (click)="upVote()" type="button" class="btn btn-success mr-2"><i data-feather="thumbs-up"></i></button>
              <button (click)="downVote()" type="button" class="btn btn-danger"><i data-feather="thumbs-down"></i></button>

            </div>

          </div>

          <div class="col-8">
            <div class="btn-group" role="group">
              <button (click)="addComment()" type="button" class="btn btn-info mt-6">Ajouter commentaire</button>

            </div>

          </div>
        </div>



      </div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>User</th>
              <th>Contenu</th>
              <th>Vote</th>
            </tr>
            </thead>
            <tbody *ngIf="commentaire">
            <tr *ngFor="let c of commentaire; ">
              <td>{{getCommentUser(c).nom}}</td>
              <td>{{c.contenu}}</td>
              <td *ngIf="c.vote" >Like</td>
              <td *ngIf="!c.vote" >Dislike</td>



            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    </div>


  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
      Routeur
    </button>
  </div>
</ng-template>
<!-- / Modal -->



